.image{
width: 100%;
height: auto;
 background: url(bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
}

li{
  margin-top: 1%;
  cursor: pointer;
  font-weight: 600;
  font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,
  sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
  padding-right: 15px; 

}

.nav-item > .active {
    border-bottom: 1px solid #333;
}

.trail{
  text-align: center;
  font-size: min(max(1rem, 4vw), 49px);
  position: absolute;
  top: 20%;
  left: 10%;
  color:white;
  font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,
    sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}

.trailjob{
  text-align: center;
  font-size: min(max(0.25rem, 3vw), 35px);
  position: absolute;
  top:23%;
  left: 10%;
  color: white;
  font-family:"Courier New",Courier,monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
