.image{
width: 100%;
height: auto;
 background: url(bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
}

.name {
	position: absolute;
	top:20%;
	left: 10%;
  	color:white;
  
    font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,
    sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
     font-size: calc(150% + 1vw + 1vh);
   }

.frontend{
  font-style: italic;
  left:10%;
  color: white;
  position: absolute;
  top:31%;
  font-family:"Courier New",Courier,monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: uppercase;
   font-size: calc(90% + 1vw + 1vh);
}

.add{
	position: fixed;
  top: 0;
  width:100%;
  z-index: 9999;
   text-decoration: none;
   overflow: hidden;
}

li{
  margin-top: 1%;
  cursor: pointer;
  font-weight: 600;
  font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,
  sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
  padding-right: 15px; 

}

.nav-item > .active {
    border-bottom: 1px solid #333;
}
