.yash{
width: 100%;
height: auto;
 background: url(yrp.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 background: none;
}

.text{
	    font-size: min(max(1rem, 4vw), 18px);
		background: none;
		text-align: left;
		font-family: 'Roboto Slab',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,
		sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}

.about{
	color:#777777;
}

.amm{
	justify-content: center;
}

.fontfam{
	font-family:"Courier New",Courier,monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p::first-letter {
  font-size: 150%;
  color: #8A2BE2;
}

.color {
  margin: 0;
  font-family:"Courier New",Courier,monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right, rgb(255, 211, 158), rgb(216, 211, 196));
}

.headeraboutme{
  font-size: min(max(1.5rem, 4vw), 39px);
}

.headerme{
   font-size: min(max(1rem, 4vw), 29px);
}